<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
   

</head>
<body>

    {{>header}}
   
    <p class='inp'>Welcome to Pouria Co.</p>

    <form>        
        <input placeholder="Location">
        <button>Search</button>
    </form>
    
    {{>footer}}

     <script src="/js/app.js"></script>
</body>
</html>